
.nav {
  background-color: #c7810a;
  padding:30px;
  position:static;
  width:100%;
  margin:0px;
  z-index:5;
}
.nav a{
  font-family: arial, serif, sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding-right:20px;
  padding-top:0px;
  margin-top:0px;
  position:static;
  margin-right:20px;

}
  .ops {
    display:flex;
    height:0;
    padding-top:0px;
    margin-top:0px;
    justify-content: flex-end;
    align-items:center;
  }
body {
  background-color:#f5ddb5;
  padding:0;
  margin:0;
}
  .boxes {
    padding-top:30px;
    display:flex;
    align-content: flex-end;
    justify-content: center;
    flex-wrap:wrap;

  }
.box1{
  display: block;
  background-color:#ebe6df;
  height:500px;
  width:300px;
  border:5px solid #c7810a;
  border-radius: 20px;
  font-family: arial, serif, sans-serif;
  margin:5px;
  justify-content: center;

}
.box1 p, h3{
  margin:10px;
}
input[type=button] {
  width:80%;
  height:40px;
  background-color:grey;
  color:orange;
  position:relative;
  left:30px;
  top:50px;
}
